body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.picture-img {
  transform: rotate(90);
  width: 25%
}

.skill1-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
}

.skill-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text decoration: none;
}
a:hover{
  color: #EAF6F6;
}

p {
  line-height: 2;
}

.Intro {
  width: 30%;
  margin: auto;

  .profile {
    margin: auto;
    background-color: white;
    margin: 100px 0;
  }

  h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem font-weight: normal;
    padding-bottom: 10px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
  }

  .top {
    background-color: #66BFBF;
  }

  .top-container {
    position: relative;
    paddin-top: 100px;
  }

  .middle-container {
    margin: 100px 0;
  }

  .bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
  }

  .pro {
    text-decoration: underline;
  }

.copyright {
  color: #EAF6F6;
  font-size:0.75rem;
  padding:20px 0
}
  .top-cloud {
    width: 20px;
    position: absolute;
    right: 300px;
    top: 40 px;
  }

  .bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }
